---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "リアルな場での交流",
    description:
      "オンラインイベントは行いません。関西でのリアルな場を通じた交流により、生きた知識や経験を共有します。",
    icon: "bx:bxs-map",
  },
  {
    title: "すべての開発者が対象",
    description:
      "テスターやQA専門家だけでなく、ソフトウェアエンジニア、デザイナー、マネージャーなど、プロダクト開発に関わる全員が歓迎されます。",
    icon: "bx:bxs-user",
  },
  {
    title: "ゆるいつながりを作る",
    description:
      "「勉強」よりも「テストを通してつながりを作る」ことを重視。関西でテストに興味がある知り合いを作りましょう。",
    icon: "bx:bx-link",
  },
  {
    title: "相互の情報交換",
    description:
      "現場でのリアルな体験や知識を共有し合います。テストを通して現場を改善する勇気とモチベーションを持ち帰ってください。",
    icon: "bx:bxs-conversation",
  },
  {
    title: "ハードルは低く",
    description:
      "これまでテストに関係のないと思っていた人々が一歩踏みだすことをサポート。気軽に参加できる場を目指しています。",
    icon: "bx:bxs-coffee",
  },
  {
    title: "とことん楽しむ",
    description:
      "コアバリューの１つは「楽しむ」こと。テストを通じた地域のつながりの中で、参加者同士が楽しく学び合える場を提供します。",
    icon: "bx:bxs-smile",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    testingOsakaとは？
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    大阪や関西で働くソフトウェアエンジニアやプロダクト開発の当事者が、テストやQAについて語り、集うコミュニティ（略称：テオ）です。
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
